$maincolor: #1ab5b3;


.logo {
	height: 125px;
	width: 300px;
	background-color: white;
	text-align: center;
	position: relative;
	span {
		color: #364048;
		font-family: Roboto;
		font-size: 29px;
		font-weight: 300;
		text-align: center;
		line-height: 125px;
	}

	a{
		display: block;
		text-decoration: none;
	}
}

.logo-img {
	position: absolute;
	bottom: 30px;
	left: 130px;
}

.link-list {
	display: flex;
	flex-direction: column;
	li {
		position: relative;
		min-height: 61px;
		background-color: #2f373b;
		background-image: linear-gradient(to top, rgba(47, 55, 59, 0), rgba(47, 55, 59, 1));
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		text-align: right;
		a {
			position: relative;
			min-height: 61px;
			text-transform: uppercase;
			text-shadow: 0.5px 0.9px 4px rgba(0, 0, 0, 0.2);
			color: white;
			font-family: Roboto;
			font-size: 18px;
			font-weight: 300;
			text-decoration: none;
			display: block;
			padding-right: 25px;
			line-height: 62px;
			z-index: 1;
		}
	}
}

.link-list li:after{
		content: "";
		background: none repeat scroll 0 0 #1AB5B3;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.15s linear 0s;
    width: 0;
}

.link-list li:hover::after {
		width: 100%;
}

.filter {
	padding-right: 25px;
	padding-bottom: 30px;
	padding-top: 25px;
}

.filter-heading{
	p {
		text-shadow: 0.5px 0.9px 4px rgba(0, 0, 0, 0.2);
		color: #1ab5b3;
		font-family: Roboto;
		font-size: 19px;
		font-weight: 100;
		text-align: right;
		padding-bottom: 10px;
	}
}

.filter-list {
	text-align: right;
	li{

			text-shadow: 0.5px 0.9px 4px rgba(0, 0, 0, 0.2);
			font-family: Roboto;
			font-size: 13px;
			font-weight: 300;
			color: #6b7072;
			padding-top: 14px;
			cursor: pointer;
	}
}

li.current {
	color: #fff;
}


.social-networks {
	border-top: 1px solid #1e282b;
	padding-top: 25px;
}

.social-list{
	display: flex;
	justify-content: space-between;
	padding-right: 25px;
	padding-left: 50px;
}

.footer {
	color: #6b7072;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 100;
	text-align: right;
	padding-right: 25px;
	padding-top: 23px;
}