@import "left-section.scss";

body {
	overflow: hidden;
}


.wrapper {
	display: flex;
	justify-content: space-between;
	height: 100%;
	align-items: stretch;
}

.left{
	position: relative;
	width: 300px;	
	background-color: #242b2e;
	z-index: 1;
	box-shadow: 10px 0 51px rgba(0, 0, 0, 0.6);
}

.right {
	width: 100%;
}

.link-list .home {
	background-color: #1ab5b3;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
}

.link-list li.home:hover{
	background-color: #1ab5b3;
}
.portfolio {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.portfolio-item {
	position: relative;
	width: 25%;
	overflow: hidden;
	img {
		width: 100%;
		display: block;
	}
}

.portfolio-info-full {
	position: absolute;
	background-color: #2db8b7;
	width: 100%;
	height: 100%;
	opacity: 0.9;
}

.portfolio-info-text{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #fff;
	h3 {
		font-family: Roboto;
		font-size: 24px;
		font-weight: 300;
	}
	
	p {
		font-family: Roboto;
		font-size: 12px;
		font-weight: 300;
		border-bottom: 1px solid #fff;
		padding-top: 13px;
		padding-bottom: 20px;
	}
	
	a {
		text-align: center;
		color: #fff;
		display: block;
		i {
			line-height: 61px;
			font-size: 18px;
			font-weight: 400;
		}
	}
	
	.circul-block:hover{
		background-color: #fff;
		a {
			color: #2db8b7;	
		}
	}
}

.circul-block {
	border: 1px solid #fff;
	width: 61px;
	height: 61px;
	border-radius: 50%;
	margin-top: 16px;
}

.contact-toggle {
	position: fixed;
	height: 90px;
	width: 90px;
	background-color: $maincolor;
	opacity: 0.9;
	top: 0;
	right: 0;
	text-align: center;
	display: flex;
	justify-content: center;


	i {
		font-size: 28px;
		font-weight: 400;
		color: #fff;
		line-height: 61px;
	}
}

.contact-container{
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7);
	right: 0;
	top: 90px;
	width: 283px;
	height: 84px;

	padding-top: 23px;
	padding-bottom: 23px;
	padding-left: 18px;
	display: none;
}

.contact-text{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	p {
		color: #fff;
		font-family: Roboto;
		font-size: 16px;
		font-weight: 100;

		i {
			font-size: 20px;
			font-weight: 400;
			padding-right: 5px;
		}
	}
}

.contact-toggle:hover {
	.circul-block {
		transform: scale(0.8);
	}
}

.toggle-on {
	display: block;
}