@import "left-section.scss";

body {
    overflow: hidden;
}


.wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: stretch;
}

.left{
    position: relative;
    width: 300px;	
    background-color: #242b2e;
    z-index: 1;
    box-shadow: 10px 0 51px rgba(0, 0, 0, 0.6);
}

.right {
    border: 25px solid #b4b7b8;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.link-list .work {
    background-color: #1ab5b3;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
}

.link-list li.work:hover{
    background-color: #1ab5b3;
}


.heading {
    color: black;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    line-height: 26px;
}


// styles for left part

.left-part{
    flex-basis: 50%;
    border-right: 1px solid #e5e5e5;
    padding-right: 30px;
}

.slider-container{
    margin: 0;
    background-color: red;
}

.slider{
    width: 400px;
    div {
        img {
            display: block;
            width: 100%;
        }
    }
}



.slick-dots{
    width: auto;
    bottom: 30px;
    right: 30px;
    
    li {
        width: 21px;
        height: 13px;
        background-color: rgba(180, 183, 184, 0.64);
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
    
    .slick-active {
        width: 22px;
        height: 13px;
        background-color: rgba(26, 181, 179, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
    
    .slick-active:before{
        color: transparent;
    }
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before{
    color: transparent;
}


.text-caption {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 30px;
    
    p {
        color: #a3a3a3;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
    }
    
    .first-string{
        padding-bottom: 30px;
        padding-top: 10px;
    }
}

.projects {
    display: flex;
    padding-top: 20px;
    width: 100%;
    img {
        display: block;
        width: 100%;
    }
}


.full-projects {
    padding-top: 20px;
}


// styles for right part 

.right-part {
    flex-basis: 50%;
    padding-left: 30px;
}

.project-info div {
    color: #848484;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 13px;
    padding-top: 13px;
    
    a {
        text-decoration: none;
        color: #848484;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
    }
}

.project-info div span {
    display: inline-block;
    border: 1px solid $maincolor;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
    
    i {
        color: $maincolor;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;
    }
}

.project-info div:hover {
    
    a {
        color: $maincolor;
    }
}

.tags {
    padding-top: 30px;
}

.tags-items {
    display: flex;
    flex-wrap: wrap;
}

.tag-item {
    border: 1px solid #e5e5e5;
    height: 39px;
    margin-right: 10px;
    border-radius: 12px;
    margin-top: 15px;
    a {
        display: block;
        color: #a3a3a3;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
        line-height: 39px;
        padding-left: 15px;
        padding-right: 15px;
        text-decoration: none;
    }
}

.tag-item:hover{
    background-color: #a3a3a3;
    
    a{
        color: #fff;
    }
}
.project-gallery{
    margin-top: 25px;
}

.gallery {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    
    div {
        width: 78px;
        height: 78px;
        margin-right: 15px;
        margin-bottom: 15px;
        
        a {
            display: block;
        }
        
        img {
            display: block;
            width: 100%;
            height: 78px;
        }
    }
}


.project-features {
    padding-top: 30px;
}

.project-features ul li{
    padding-top: 18px;
    
    a {
        color: #848484;
        font-size: 14px;
        font-family: Roboto;
        font-weight: 300;
        text-decoration: none;
    }
}

.project-features ul li:hover{
    
    a {
        color: $maincolor;
    }
}