extends layout/layout

block title
	| Home
	
block content
	.wrapper
		.left
			include modules/left-section
		.right
			.portfolio
				+portfolio-item('all web','../img/torgersen.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('all illusration','../img/2.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('all photography','../img/3.png', 'Snake', 'web design, mobile', '#')
				+portfolio-item('all web','../img/4.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('all brochures','../img/5.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('all photography','../img/6.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('all illusration','../img/7.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('all wallpapers','../img/8.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('all brochures','../img/9.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('all web','../img/10.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('all illusration','../img/11.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('all wallpapers','../img/12.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('all photography','../img/13.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('all illusration','../img/14.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('all web','../img/15.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('all brochures','../img/16.png', 'Cool App Design', 'development, mobile', '#')

				.contact-toggle
					.circul-block
						<i class="fa fa-info-circle" aria-hidden="true"></i>
				.contact-container
					.contact-text
						p <i class="fa fa-phone" aria-hidden="true"></i> 9930 1234 5679
						p <i class="fa fa-envelope" aria-hidden="true"></i> contact@domain.com
						p <i class="fa fa-home" aria-hidden="true"></i> street address example
				
			
		
		









			

	
					