extends layout/layout

block title
	| Home
	
block content
	.wrapper
		.left
			include modules/left-section
		.right
			.portfolio
				+portfolio-item('../img/torgersen.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/2.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/3.png', 'Snake', 'web design, mobile', '#')
				+portfolio-item('../img/4.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/5.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/6.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/7.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/8.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/9.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/10.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/11.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/12.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/13.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/14.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/15.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/16.png', 'Cool App Design', 'development, mobile', '#')
				
				
			
		
		









			

	
					