extends layout/layout

block title
	| Home
	
block content
	.wrapper
		.left
			include modules/left-section
		.right
			.portfolio
				.portfolio-item
					.portfolio-img
						img(src="../img/torgersen.png", alt="")
					.portfolio-info-full
						.portfolio-info-text
							h3 Cool App Design
							p development, mobile
							.circul-block
								a(href="")
									i(class="fa fa-arrow-right" aria-hidden="true")

				.portfolio-item
					.portfolio-img
						img(src="../img/torgersen.png", alt="")
					.portfolio-info-full
						.portfolio-info-text
							h3 Cool App Design
							p development, mobile
							.circul-block
								a(href="")
									i(class="fa fa-arrow-right" aria-hidden="true")
			

	
					