extends layout/layout

block title
	| Home
	
block content
	.wrapper
		.left
			include modules/left-section
		.right
			.portfolio
				+portfolio-item('../img/torgersen.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/torgersen.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/torgersen.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/torgersen.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/torgersen.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/torgersen.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/torgersen.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/torgersen.png', 'Cool App Design', 'development, mobile', '#')
				+portfolio-item('../img/torgersen.png', 'Cool App Design', 'development, mobile', '#')
				
			
		
		









			

	
					