extends layout/layout

block title
	| Home
	
block content
	.wrapper
		.left
			include modules/left-section
		.right
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, saepe! Sint, aliquam eaque optio minus blanditiis fugit dolor reiciendis, consequatur cupiditate perspiciatis illum reprehenderit fuga ipsam deserunt exercitationem a unde!
			p test
					