extends layout/layout

block link
	link(rel="stylesheet" href="css/services.css")

block title
	| Contact
	
block content
	.wrapper
		.left
			include modules/left-section
		.right
			.services-our
				h3.heading Our Services
				.services-text
					p.default-text This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.

			.services-icon
				.service-full
					.border-icon
						i(class="fa fa-suitcase" aria-hidden="true")
					h4.caption Web Design
					.info-text
						p.default-text This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
				.service-full
					.border-icon
						i(class="fa fa-cog" aria-hidden="true")
					h4.caption Plugin Development
					.info-text
						p.default-text This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
				.service-full
					.border-icon
						i(class="fa fa-html5" aria-hidden="true")
					h4.caption Web Hosting
					.info-text
						p.default-text This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
				.service-full
					.border-icon
						i(class="fa fa-globe" aria-hidden="true")
					h4.caption HTML5 Coding
					.info-text
						p.default-text This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
			
			.why-us
				h3.heading Why Choose Us
				.why-buttoms
					.buttom.active-buttom(data-index="1")
						p Fast support
					.buttom(data-index="2")
						p High quality
					.buttom(data-index="3")
						p 30 day money back
					.buttom(data-index="4")
						p clean code
				.why-text-conainer
					.why-text
						.text#text1.active
							p.default-text This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsu m velit. Nam nec tellus a odio tincidunt auctor a ornare odio.This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsu m velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
							p.p-padding.default-text Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
						.text#text2
							p.default-text Steve Austin: Astronaut. A man barely alive. Gentlemen… we can rebuild him. We have the technology. We have the capability to make the world’s first bionic man. Steve Austin will be that man. Better than he was before. Better. Stronger. Faster.
						.text#text3
							p.default-text Mister Trouble never hangs around when he hears this Mighty sound: “Here I come to save the day!” That means that Mighty Mouse is on his way. Yes sir, when there is a wrong to right Mighty Mouse will join the fight. On the sea or on the land, he gets the situation well in hand!
						.text#text4
							p.default-text Don’t go to bed, with no price on your head. No, no, don’t do it. Fon’t do the crime, if you can’t do the time, yeah, don’t do it. And keep your eye on the sparrow, when the going gets narrow. Don’t do it, don’t do it. Where can I go where the cold winds don’t blow, Now. Well, well, well.

				