include mixins


.logo 
	a(href="index.html")
		span kappe
		.logo-img
			img(src="../../img/for-creatives.png", alt="")

nav.link-list
	ul
		+link-nav('home','index.html','home')
		+link-nav('work','#home.html','work')
		+link-nav('about','#home.html','about')
		+link-nav('blog','#home.html','blog')
		+link-nav('sevices','#home.html','sevices')
		+link-nav('contact','#home.html','contact')

.filter
	.filter-heading
		p Filter 
			i(class="fa fa-th-large" aria-hidden="true")

	ul.filter-list
		li
			a(href="index.html") All Works
		li
			a(href="index.html") web design
		li
			a(href="index.html") illustration
		li
			a(href="index.html") photography
		li
			a(href="index.html") wallpapers
		li
			a(href="index.html") brochures

.social-networks
	ul.social-list
		+social-link('#','../../img/webicon-flickr.png')
		+social-link('#','../../img/webicon-googleplus.png')
		+social-link('#','../../img/webicon-twitter.png')
		+social-link('#','../../img/webicon-pinterest.png')
		+social-link('#','../../img/webicon-dribbble.png')
		+social-link('#','../../img/webicon-behance.png')
		+social-link('#','../../img/webicon-facebook.png')

p.footer © 2014 Kappe, All Rights Reserved