include mixins


.logo 
	a(href="index.html")
		span kappe
		.logo-img
			img(src="../../img/for-creatives.png", alt="")

nav.link-list
	ul
		+link-nav('home','index.html','home')
		+link-nav('work','work.html','work')
		+link-nav('about','about.html','about')
		+link-nav('blog','blog.html','blog')
		+link-nav('services','services.html','services')
		+link-nav('contact','contact.html','contact')

.filter
	.filter-heading
		p Filter 
			i(class="fa fa-th-large" aria-hidden="true")

	ul.filter-list
		li(data-info='all').current All Works
		li(data-info='web') web design
		li(data-info='illusration') illustration
		li(data-info='photography') photography
		li(data-info='wallpapers') wallpapers
		li(data-info='brochures') brochures

.social-networks
	ul.social-list
		+social-link('#','../../img/webicon-flickr.png')
		+social-link('#','../../img/webicon-googleplus.png')
		+social-link('#','../../img/webicon-twitter.png')
		+social-link('#','../../img/webicon-pinterest.png')
		+social-link('#','../../img/webicon-dribbble.png')
		+social-link('#','../../img/webicon-behance.png')
		+social-link('#','../../img/webicon-facebook.png')

p.footer © 2014 Kappe, All Rights Reserved